
@using inlab2.Models

@model Attendance
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance</title>
</head>
<body>
    <div>

        <table border="1" style="border-color:aqua">
            <thead><tr><td>EID</td> <td>Status</td> <td>Presence Date</td>  </tr></thead>


            <tr>
                <td>@Model.EmpId</td>
                <td>@Model.Status </td>
                <td>@Model.PresenceDate</td>

            </tr>


        </table>

    </div>
    
</body>
</html>

