@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PayRoll Management</h1>
    <p class="lead">PayRoll Management is a database system designed to help companies manage the payments of their employees and for the employees to keep a check on it.</p>
    <p><a href="../Home/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get a package for your company you can chose from basic, professional and enterprise.
        </p>
        <p><a class="btn btn-default" >Buy Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>For your queries our team is always available. You can contact by clicking here..</p>
        <p><a class="btn btn-default" href="../Home/Contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>To learn more about PayRoll Management you can click here..</p>
        <p><a class="btn btn-default" href="../Home/About">Learn more &raquo;</a></p>
    </div>
</div>